$primary-color: #47dff0;
// $secondary-color: darken($primary-color, 50%);
$secondary-color: lighten($primary-color, 50%);
$margin: 16px;

body{
    background-color: $primary-color;

    .container{
        width:30%;
        margin:0px auto;
        margin-top:50px;
        text-align: center;
        background-color: $secondary-color;
        min-height: 400px;
        padding: 20px;
        border-radius:10px;
    }
}


.highlight {
    border-color: $primary-color;
    color: $secondary-color;
}

h1 {
    span {
        margin: calc($margin / 2);
    }

    color: $secondary-color;
}

.btn{
    background:yellow;
}

.red{
    background-color: red;
}